@import "tailwindcss";

/* RESET Bá»” SUNG */
@layer base {
    body {
        @apply font-sans text-gray-800;
    }

    a {
        @apply no-underline text-gray-800;
    }

    .fade-up-enter-active,
    .fade-up-leave-active {
        transition: all 0.35s ease;
    }

    .fade-up-enter-from,
    .fade-up-leave-to {
        opacity: 0;
        transform: translateY(12px);
    }



}
